*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.big-pic{
    height: 780px;
    width: 100%;
    background-image: url(./saka.jpg);
    background-position: center;
    background-size: cover;
    position: absolute;
    z-index: 1;
}
.big-pic:after{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    opacity: .7;
    z-index: -1;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
    padding-left: 50px;
    padding-right: 30px;
    padding-top: 30px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
nav ul li a{
    text-decoration: none;
    font-size: 18px;
    color: whitesmoke;
    font-family: sans-serif;

}
nav ul li button{
    font-size: 18px;
    color: whitesmoke;
    outline: none;
    border: none;
    background: transparent;
    cursor: pointer;
    font-family: sans-serif;
}
nav ul li button:hover{
    color: tomato;
}
nav ul li a:hover{
    color: tomato;
}
.first-left{
    text-decoration: none;
    color: palevioletred;
    font-size: 28px;
}
h1{
    color: blanchedalmond;
    font-size: 60px;
    align-items: center;
    text-align: center;
    justify-content: center;
    font-family: sans-serif;
    padding: 220px 60px;
}
.container{
    max-width: 780px;
    margin: auto;
    background-color: #f2f2f2;
    overflow: auto;
}
.gallery{
    margin: 30px;
    border: 1px solid #ccc;
    float: left;
    width: 200px;
    height: 260px;
    

}
.gallery img{
    width: 200px;
    height: 160px;

}
.desc{
    padding: 15px;
    text-align: center;
}
#players{
    padding-top: 880px;
    background-color: darkgray;
}
h3{
    text-align: center;
}
footer{
    background-color: rgb(20, 11, 68);
    align-items: center;
    text-align: center;
    overflow: auto;
    padding-top: 50px;
}
#social-media{
    display: flex;
    text-align: center;
    list-style: none;
    align-items: center;
}
footer div ul img{
    align-items: center;
    text-align: center;
    height: 30px;
    width: 20px;
    margin-right: 20px;
}
.media-logo{
    align-items: center;
    text-align: center;
    padding-left: 600px;
}
p{
    color: whitesmoke;
}
#winner{
    color: black;
    font-size: 20px;
}
h4{
    font-size: 58px;
}
.left-side{
    width: 50%;
    height: auto;
    padding: 50px;
    padding-left: 150px;
}
.right-side{
    width: 50%;
    padding: 50px;
    padding-right: 150px;
}
.right-side img{
    height: 300px;
    width: 300px;
}
.last-part{
    display: flex;
}

.f-btn{
    text-transform: uppercase;
    border-radius: 20px;
    width: 250px;
    background-color: thistle;
    border: 1px solid transparent;
    color: black;
    font-size: 28px;
    margin: 50px;
    
}
.f-btn:hover{
    cursor: pointer;
    background-color: rgb(124, 119, 119);
}
